/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    nav-left: ;
}

/* -------------------------------------------------------------------------- */

/* Nav styling */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #b6adf7;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 18px;
}

.navbar-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

#dark-mode-switch {
  font-size: x-large;
}

.navbar-right {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
  text-align: center;
  gap: 80px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #130456;
}

/* nav button */
#minimize-nav {
  padding: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: #dedaff;
}

.nav-list {
  display: none;
}

.nav-list:hover {
  font-weight: bolder;
}

.open-nav-menu {
  display: flex;
}

/* -------------------------------------------------------------------------- */

/* Main sections styling */

body {
  font-family: Nunito;
  background-color: #ffffff;
  color: #130456;
}
