/* -------------------------------------------------------------------------- */

/* Nav styling */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #b6adf7;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 18px;
}

.navbar-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
  text-align: center;
  gap: 100px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #130456;
}

#dark-mode-switch {
  font-size: xx-large;
}

/* ----------------------------------------------------------------------------- */
/* NAV MENU STYLING */

.nav-text {
  display: none;
}

.nav-text:hover {
  font-weight: bolder;
}

.show-nav-text {
  display: block;
}

#nav-icons {
  /* padding-bottom: 1em; */
  font-size: large;
  display: none;
}

#nav-icons.show-nav-icons {
  display: block;
}

/* minimize nav button */
#minimize-nav {
  padding: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: #dedaff;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */

/* Main sections styling */

body {
  font-family: Nunito;
  background-color: #ffffff;
  color: #130456;
}
